
html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
}

.btn {
  padding: 6px 12px;
  font-size: 14px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d
}